{% extends "main/base.html" %}
{% block title %}{{ object|default_if_none:"Новая рассылка" }}{% endblock %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-header bg-primary text-white">
    {% if object %}
      Редактировать рассылку
    {% else %}
      Добавить рассылку
    {% endif %}
  </div>

  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="mt-3">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'mailings:mailing_list' %}" class="btn btn-secondary">Назад</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}