{% extends "main/base.html" %}
{% block title %}Статистика{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Ваша статистика рассылок</h2>

    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Успешные попытки</h5>
                    <p class="card-text fs-3">{{ success_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Неуспешные попытки</h5>
                    <p class="card-text fs-3">{{ failed_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Отправлено сообщений</h5>
                    <p class="card-text fs-3">{{ total_sent }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
