{% extends "main/base.html" %}
{% block title %}{{ object|default_if_none:"Новый получатель" }}{% endblock %}
{% block content %}

<div class="card shadow-sm">
  <div class="card-header bg-primary text-white">
    {% if object %}
      Редактировать получателя
    {% else %}
      Добавить получателя
    {% endif %}
  </div>

  <div class="card-body">
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="mt-3">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'recipient_list' %}" class="btn btn-secondary">Назад</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}